<ion-header>
  <ion-toolbar>
    <ion-title> Timer </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <circle-progress
    [percent]="percent"
    [maxPercent] ="100"
    [radius]="radius"
    [showTitle] = "true"
    [showSubtitle] = "true"
    [showUnits] = "false"
    [outerStrokeWidth]="16"
    [outerStrokeColor]="'#8000FF'"
    [showZeroOuterStroke] = "true"
    [backgroundStroke] = "'#33003F'"
    [backgroundStrokeWidth] = "3"
    [outerStrokeGradient] = "false"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
  ></circle-progress>
</ion-content>
